<!DOCTYPE html>
<html lang="en">
<div class="navbar-wrapper">
<div class="container">
<div class ="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img onmouseover="hovered(this)" onmouseout="restore(this)" style="margin-top:-32px;" src="images/logo.png"></a>
            <button class = "navbar-toggle" data-toggle ="collapse" data-target =".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class ="nav navbar-nav">
                <li><a data-target="#carouselMain" data-slide-to="0"><%=testVar.translate("Home")%></a></li>
                <li><a data-target="#carouselMain" data-slide-to="1"><%=testVar.translate("About")%></a></li>
                <li><a href="background.html"><%=testVar.translate("Background and Education")%></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=testVar.translate("Social Media")%><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="www.facebook.com">Facebook</a></li>
                        <li><a href="#contact" data-toggle="modal">E-mail me</a></li>
                    </ul>
                </li>
            </ul>
         <% if(userCredential==1){ %>
                <a href="javascript:void(0);" onclick="logout()" class="pull-right"><strong>logout</strong></a>
            <% }%>
        </div>

    </div>
</div>
</div>
</div>
</html>