<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link href ="/css/bootstrap.min.css" rel ="stylesheet">
    <link href ="/css/styles.css" rel ="stylesheet">
    <link href="/css/custom/article.css" typle="text/css" rel="stylesheet">
    <link href="/css/custom/global.css" typle="text/css" rel="stylesheet">
    <link href="/css/animate.css" typle="text/css" rel="stylesheet">
    <link href="/css/hovereffect.css" typle="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/custom/article.js" type="text/javascript"></script>
    <script src="/js/jquery-filedrop-master/jquery.filedrop.js" type="text/javascript"></script>
    <script src="/js/shortcut.js" type="text/javascript"></script>
</head>
<body>
<%  if(wallPosts){ %>
       
<h1>Article <%= wallPosts.id %></h1>

TIME CREATED :<%= wallPosts.createdAt %> <br>
TIME EDITED :<%= wallPosts.updatedAt %> <br>

<b><%= wallPosts.post %></b>
<% }else{ %>
<h2>What is up?</h2>

<div class="dropFile"></div>



<div class="holdingDiv">
  <form action="/file-upload" name="upload" class="dropzone dz-clickable" id="dropzoneArea" enctype="multipart/form-data" method = "post">
    <input type="file" name="theFile" />                      
    <button id="uploadSubmitter" class="btn btn-primary btn-large" type="submit">Finished</button>
  </form>
</div>

<textarea id="postEntry"></textarea>
<a id="savePost" class="btn btn-warning"  href="javascript:void(0);">Send</a>
<% } %>

</body>
</html>